<div class="center">
  <h1>Find_your_email</h1>
  <%= form_with url: password_resets_path, local: true do |f| %>
    <%= f.label :email%>
    <%= f.text_field :email, class: "utext font"%> 
    <%= f.submit 'submit', class: 'btn btn-primary utext font' %>
  <% end %>
</div>