<div class="center">
  <h2>My_trees</h2>
  <% if @trees.present? %>
    <% @trees.each do |tree| %>
      <%= render partial: 'shared/tree', locals: { tree: tree } %>
    <% end %>
    <%= paginate @trees %>
  <% end %>
</div>