<!--<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'user_sessions' %>-->

<header>
  <div class="header-div">
    <%= link_to 'Login', login_path, id: 'log', class: "card" %>
    <%= link_to 'Top', root_path, id: "top", class: "card" %>
  </div>
</header>