<div>
  <div class="caption"><%= link_to tree.title, tree_layers_path(tree), data: {"turbolinks" => false} %></div>
  <div>Description:<%= tree.description %></div>
  <div>Author:<%= User.find(tree.user_id).user_name %></div>
</div>

</br>