<body>
  <div class="client"></div>
  <div id="message"></div>
  <div id="author" class="link-text">Author:<%= @author.user_name %></div>
  <!--<button id="treetop-pos-reset">treetop reset</button>-->
  <input type="text" id="select-leaf" placeholder="Enter leaf_id">
  <div id="body-search">
    <%= form_with url: tree_layers_path, method: :get, local: true do |f| %>
      <%= f.search_field :search, placeholder: 'body search', class: "search" %>
      <%= f.submit value: 'search', class: "button" %>
    <% end %>
  </div>
</body>

<script>
  //グローバル変数
  //$('.tooltip').hide();
  var p1;
  var p2;
  var pX1;
  var pY1;
  var pX2;
  var pY2;
  var treetop_i;
  var treetop_layer_id;
  var tree_pos;
  var title_posX;
  var title_posY;
  var before_parent_posX;
  var before_parent_posY;
  var db_id = 1;
  var layer_id = 1;
  var q = 0;
  var l = 0;
  var this_id = "";
  var box_count = 0;
  var z_index_cnt = 1;
  var eazy_mde = {}; 
  var easy_hide_id
  var fk_user_id;
  var fk_tree_id;
  var flag = false;
  var select_parent = "";
  var select_leaf = "";
  $(document).ready(function(){
    reposition();
  });
  //タイトルboxをbodyに追加
  function reposition(){
    $.each(gon.layers, function(index, elem){
      if(elem.layer_id == 1){
          treetop_i = elem.id;
          treetop_layer_id = elem.layer_id
          layer_id = elem.layer_id;
          fk_user_id = elem.user_id
          fk_tree_id = elem.tree_id
          title_posX = elem.positionX;
          title_posY = elem.positionY;
          before_parent_posX = title_posX;
          before_parent_posY = title_posY;
          if(fk_user_id == gon.current_user){
            $('body').append('<div class="tree-wrapper"><div class="leaf tree_title" style="left: ' + elem.positionX + 'px; top: ' + elem.positionY + 'px;" id="1">top<form action="layers/' + treetop_i + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + treetop_i + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title" value="' + elem.title + '"></br><button id="left-branch">+</button><button id="left-down-branch">+</button><button id="right-down-branch">+</button><button id="right-branch">+</button><div class="tooltip" id="tooltip-id' + layer_id + '"><button type="button" class="close-window">×</button><input type="text" class="not" name="positionX" id="posX1" value="' + elem.positionX + '"><input type="text" class="not" name="positionY" id="posY1" value="' + elem.positionY + '"></br><div id="easy-hide1"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + '1">' + elem.body + '</textarea></div></br><input type="submit" value="save" class="save"></div></form></div></div>')
          }else{
            $('body').append('<div class="tree-wrapper"><div class="leaf tree_title" style="left: ' + elem.positionX + 'px; top: ' + elem.positionY + 'px;" id="1">top<form action="layers/' + treetop_i + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + treetop_i + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title" value="' + elem.title + '"><div class="tooltip" id="tooltip-id' + layer_id + '"><button type="button" class="close-window">×</button><div id="easy-hide1"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + '1">' + elem.body + '</textarea></div></div></form></div></div>')
          } 
          $('.tooltip').hide();
          $('#easy-hide1').hide();
          eazy_mde['easyMDE1'] = new EasyMDE({element: document.getElementById('leaf-body' + fk_user_id + fk_tree_id + '1'), maxHeight: "550px", autosave: {enabled: true, uniqueId: "leaf-body" + fk_user_id + fk_tree_id + "1", delay: 500, submit_delay: 5000,}});
      }else if(elem.layer_id !== 1){
        db_id = elem.id;
        layer_id = elem.layer_id;
        console.log(title_posX + elem.positionX); 
        var parent_posX = $('#posX' + elem.parent_id).val();
        var parent_posY = $('#posY' + elem.parent_id).val();
        var parent_all_pos = $('#' + elem.parent_id).position();
        before_parent_posX = Number(parent_all_pos?.left);
        before_parent_posY = Number(parent_all_pos?.top);
        var leaf_posX = Number(before_parent_posX) + Number(elem.positionX);
        var leaf_posY = Number(before_parent_posY) + Number(elem.positionY);
        var svg_width = Math.abs(leaf_posX - before_parent_posX);
        var svg_height = Math.abs(leaf_posY - before_parent_posY);
        console.log("parent_posX" + parent_posX); 
        if(fk_user_id == gon.current_user){
          $('.tree_title').after('<div class="leaf" style="left: ' + leaf_posX + 'px; top: ' + leaf_posY + 'px;" id="' + layer_id + '">' + elem.layer_id + '</br><form action="layers/' + db_id + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + db_id + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title" value="' + elem.title + '"></br><button id="left-branch">+</button><button id="left-down-branch">+</button><button id="right-down-branch">+</button><button id="right-branch">+</button><div class="tooltip" id="tooltip-id' + layer_id + '"><button type="button" class="close-window">×</button><button class="del" id="del-id' + layer_id + '" type="button">DELETE</button><input type="text" class="parent not" name="parent_id" id="parent' + layer_id + '" value="' + elem.parent_id + '" placeholder="Enter smaller than ' + layer_id + '"><input type="text" class="not" name="positionX" id="posX' + layer_id + '" value="' + elem.positionX + '"><input type="text" class="not" name="positionY" id="posY' + layer_id + '" value="' + elem.positionY + '"></br><div id="easy-hide' + layer_id + '"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + layer_id + '">' + elem.body + '</textarea></div></br><input type="submit" value="save" class="save"></div></form></div><div class="line-box" id="line' + layer_id + '" style="left: ' + before_parent_posX + 'px; top: ' + before_parent_posY + 'px;"></div>')
        }else{
          $('.tree_title').after('<div class="leaf" style="left: ' + leaf_posX + 'px; top: ' + leaf_posY + 'px;" id="' + layer_id + '">' + elem.layer_id + '</br><form action="layers/' + db_id + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + db_id + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title" value="' + elem.title + '"><div class="tooltip" id="tooltip-id' + layer_id + '"><button type="button" class="close-window">×</button><div id="easy-hide' + layer_id + '"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + layer_id + '">' + elem.body + '</textarea></div></div></form></div><div class="line-box" id="line' + layer_id + '" style="left: ' + before_parent_posX + 'px; top: ' + before_parent_posY + 'px;"></div>')
        }
        var line_id = "line" + layer_id 
        var line_pos = document.getElementById(line_id);   
        console.log("line_pos" + line_id); 
        if(Math.sign(leaf_posX - before_parent_posX) !== -1){
          line_pos.style.left = before_parent_posX + 105 + "px";
          line_pos.style.top = before_parent_posY + 70 + "px";
          $("#" + line_id).addClass("right-down-line");
        }else if(Math.sign(leaf_posX - before_parent_posX) == -1){
          line_pos.style.left = before_parent_posX + 105 - svg_width +  "px";
          line_pos.style.top = before_parent_posY + 70 + "px";
          $("#" + line_id).addClass("left-down-line");
        }
        line_pos.style.width = svg_width + "px";
        line_pos.style.height = svg_height + "px";
        $('.tooltip').hide();
        $('#easy-hide' + layer_id).hide();
        eazy_mde['easyMDE' + layer_id] = new EasyMDE({element: document.getElementById("leaf-body" + fk_user_id + fk_tree_id + layer_id + ""), maxHeight: "550px", autosave: {enabled: true, uniqueId: "leaf-body" + fk_user_id + fk_tree_id + layer_id + "", delay: 500, submit_delay: 5000,}});
      }
    })
    //メッセージのアニメーション
    var message = document.getElementById("message");
    message.innerText = "Reloading completed";
    msgAnimation()
  };
  //アニメーション関数
  function msgAnimation() {
    message.classList.add("fade-in");
    setTimeout(function(){
      message.classList.remove("fade-in");
      message.classList.add("fade-out");
    }, 2000);
    setTimeout(function(){
      message.classList.remove("fade-out");
    }, 4000);
  }
  //読み込み完了時にleaf_countを送信
  window.onload = function () {
    if(gon.current_user){
      var leaf_count = $('.leaf').length;
      $.ajax({url: "/trees/" + fk_tree_id +"", type: "POST", data: { tree: { id: fk_tree_id, leaf_count: leaf_count }, "_method": "PATCH"}});
    }
    //検索にヒットしたleafを色変更
    $.each(gon.search, function(index, elem){
      var leaf = document.getElementById("" + elem.layer_id + "");
      $(leaf).css('background-color','#dcedc1');
    })
  }
  //leafを指定してポジション移動
  $(document).on('change', '#select-leaf', function() {
    $('#all-leaf-edit').remove()
    select_leaf = $("#select-leaf").val()
    select_parent = $("#parent" + select_leaf).val()
    var selectX = $("#posX" + select_leaf).val()
    var selectY = $("#posY" + select_leaf).val()
    var select_db_id = $("#db_id" + select_leaf).val()
    console.log("db_id" + select_db_id);
    $('.client').after('<div id="all-leaf-edit">leaf-position</br><form action="layers/' + select_db_id + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="layer_id" name="layer_id" value="' + select_leaf + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input type="text" class="parent not" name="parent_id" id="parent' + select_leaf + '" value="' + select_parent + '" placeholder="Enter smaller than ' + select_leaf + '"></br><input type="text" class="not" name="positionX" id="posX' + select_leaf + '" value="' + selectX + '" ></br><input type="text" class="not" name="positionY" id="posY' + select_leaf + '" value="' + selectY + '"></br><div class="center"><button class="save" type="submit">save</button></div></form></div>')
  })

  //セーブボタンを押したときにセーブ完了表示
  $(document).on('click', '.save', function(evt){
    var message = document.getElementById("message");
    message.innerText = "Data save completed";
    msgAnimation()
    evt.stopPropagation()
  });
  //５秒毎にajaxでオートセーブ
  $(document).on('change', '.title', function() {
    console.log( "オートセーブ");
    $(this).submit();
  })
  //DELETEボタンを押したときにleafを削除
  $(document).on('click', '.del', function(evt){
    if(window.confirm("Are you sure you want to delete this leaf?")){
      $.ajax({url: "layers/" + layer_id + "", type: "POST", data: {layer_id: this_id, user_id: fk_user_id, tree_id: fk_tree_id, "_method": "DELETE"}})
    }
    stopPropagation()
  });
   //parent_idが修正された時に数値をチェックする
  $(document).on('change', '.parent', function(){
    var p = $("#parent" + this_id + "").val();
    if(Number(p) >= this_id){
      $("#parent" + this_id + "").val('');
    }
    select_parent = $("#parent" + select_leaf).val()
    if(Number(select_parent) >= select_leaf){
      $("#parent" + select_leaf).val('');
    }
  });
  //treetopのポジションをリセットする。
  $(document).on('click', '#treetop-pos-reset', function(){
    $.ajax({url: "layers/" + treetop_i +"", type: "POST", data: {positionX: 500, positionY: 30, layer_id: treetop_layer_id, user_id: fk_user_id, tree_id: fk_tree_id, "_method": "PATCH"}});
  });

  //マウスオーバーでid取得
  $(function(){
    $(document).on({
      'mouseenter' : function(evt) {
        this_id = $(this).attr('id');
        console.log("this_id" + this_id);
        // 子leafがあればDELETEボタンを削除
        let i = this_id;
        outside:{
          while(i<=layer_id){
            let p = $("#parent" + i + "").val()
            if(p == this_id){
              $("#del-id" + this_id + "").remove();
              console.log("del");
              break outside;
            }
            console.log(i);
            i++;
          }
        }
      }
    }, '.leaf');
  }) 
  //右下にボックスを作成
  $(document).on('click','#right-down-branch', function(evt){
      p1 = $(evt.target).closest(".leaf").position();
      var parent_elem = (evt.target).closest(".leaf");
      var parent_id = $(parent_elem).attr('id');
      var parent_all_pos = $('#' + parent_id).position();
      var parent_posX = parent_all_pos.left;
      var parent_posY = parent_all_pos.top;
      layer_id++;
      pX1 = parent_posX + 150;
      pY1 = parent_posY + 200;
      var line_left = parent_posX + 105;
      var line_top = parent_posY + 70;
      var setX = 150;
      var setY = 200;
      const ajax_new = async function(){
        $.ajax({url: "layers", type: "POST", data: {layer_id: layer_id, positionX: setX, positionY: setY, parent_id: this_id, user_id: fk_user_id, tree_id: fk_tree_id}});
        console.log("new action")
      }
      const create_leaf = async function(){
        $(event.target).closest(".leaf").after('<div class="leaf right-down" id="' + layer_id + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;">' + layer_id + '<form action="layers/new" method="GET"><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + gon.db_id + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title"></br><button type="button" id="left-branch">+</button><button type="button" id="left-down-branch">+</button><button type="button" id="right-down-branch">+</button><button type="button" id="right-branch">+</button><div class="tooltip" id="tooltip-id' + layer_id + '"><button type="button" class="close-window">×</button><input type="text" class="parent not" name="parent_id" id="parent' + layer_id + '"><input type="text" class="not" name="positionX" id="posX' + layer_id + '"><input type="text" class="not" name="positionY" id="posY' + layer_id + '"></br><div id="easy-hide' + layer_id + '"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + layer_id + '"></textarea></div></br><input type="submit" value="save" class="save"></div></form></div><div class="line-box right-down-line" id="line' + layer_id + '" style="left: ' + line_left + 'px; top: ' + line_top + 'px; width: 150px; height: 200px;"></div>')
        eazy_mde['easyMDE' + layer_id] = new EasyMDE({element: document.getElementById("leaf-body" + fk_user_id + fk_tree_id + layer_id + ""), maxHeight: "550px"});
        console.log("create leaf" + gon.db_id)
      }
      const set_params = async function(){
        $("#posX" + layer_id).val(150);
        $("#posY" + layer_id).val(200);
        $("#parent" + layer_id).val(this_id);
        console.log("set params")
      }
      const processAll = async function() {
        await ajax_new()
        await create_leaf()
        await set_params()
      }
      processAll()
      $('.tooltip').hide();
      $('.easy-hide').hide();
 });
  //左下にボックスを作成
  $(document).on('click','#left-down-branch', function(evt){
      p1 = $(evt.target).closest(".leaf").position();
      var parent_elem = (evt.target).closest(".leaf");
      var parent_id = $(parent_elem).attr('id');
      console.log("parent_id" + parent_id);
      var parent_all_pos = $('#' + parent_id).position();
      var parent_posX = parent_all_pos.left;
      var parent_posY = parent_all_pos.top;
      console.log(p1);
      layer_id++;
      pX1 = parent_posX - 150;
      pY1 = parent_posY + 200;
      var line_left = parent_posX - 45;
      var line_top = parent_posY + 70;
      var setX = -150;
      var setY = 200;
      const ajax_new = async function(){
        $.ajax({url: "layers", type: "POST", data: {layer_id: layer_id, positionX: setX, positionY: setY, parent_id: this_id, user_id: fk_user_id, tree_id: fk_tree_id}});
      }
      const create_leaf = async function(){
        $(event.target).closest(".leaf").after('<div class="leaf left-down" id="' + layer_id + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;">' + layer_id + '<form action="layers/' + gon.db_id + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + gon.db_id + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title"></br><button id="left-branch">+</button><button id="left-down-branch">+</button><button id="right-down-branch">+</button><button id="right-branch">+</button><div class="tooltip" id="tooltip-id' + layer_id + '"><button class="close-window">×</button><input type="text" class="parent not" name="parent_id" id="parent' + layer_id + '"><input type="text" class="not" name="positionX" id="posX' + layer_id + '"><input type="text" class="not" name="positionY" id="posY' + layer_id + '"></br><div id="easy-hide' + layer_id + '"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + layer_id + '"></textarea></div></br><input type="submit" value="save" class="save"></div></form></div><div class="line-box left-down-line" id="line' + layer_id + '" style="left: ' + line_left + 'px; top: ' + line_top + 'px; width: 150px; height: 200px;"></div>')
        eazy_mde['easyMDE' + layer_id] = new EasyMDE({element: document.getElementById("leaf-body" + fk_user_id + fk_tree_id + layer_id + ""), maxHeight: "550px"});
      }
      const set_params = async function(){
        $("#posX" + layer_id).val(-150);
        $("#posY" + layer_id).val(200);
        $("#parent" + layer_id).val(this_id);
      }
      const processAll = async function() {
        await ajax_new()
        await create_leaf()
        await set_params()
      }
      processAll()
      $('.tooltip').hide();
      $('.easy-hide').hide();
  });
  //右
  $(document).on('click','#right-branch', function(evt){
      p1 = $(evt.target).closest(".leaf").position();
      var parent_elem = (evt.target).closest(".leaf");
      var parent_id = $(parent_elem).attr('id');
      console.log("parent_id" + parent_id);
      var parent_all_pos = $('#' + parent_id).position();
      var parent_posX = parent_all_pos.left;
      var parent_posY = parent_all_pos.top;
      layer_id++;
      pX1 = parent_posX + 300;
      pY1 = parent_posY;
      var line_left = parent_posX;
      var line_top = parent_posY + 70;
      var setX = 300;
      var setY = 0;
      const ajax_new = async function(){
        $.ajax({url: "layers", type: "POST", data: {layer_id: layer_id, positionX: setX, positionY: setY, parent_id: this_id, user_id: fk_user_id, tree_id: fk_tree_id}});
      }
      const create_leaf = async function(){
        $(event.target).closest(".leaf").after('<div class="leaf right-down" id="' + layer_id + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;">' + layer_id + '<form action="layers/' + gon.db_id + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + gon.db_id + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title"></br><button id="left-branch">+</button><button id="left-down-branch">+</button><button id="right-down-branch">+</button><button id="right-branch">+</button><div class="tooltip" id="tooltip-id' + layer_id + '"><button class="close-window">×</button><input type="text" class="parent not" name="parent_id" id="parent' + layer_id + '"><input type="text" class="not" name="positionX" id="posX' + layer_id + '"><input type="text" class="not" name="positionY" id="posY' + layer_id + '"></br><div id="easy-hide' + layer_id + '"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + layer_id + '"></textarea></div></br><input type="submit" value="save" class="save"></div></form></div><div class="line-box right-down-line" id="line' + layer_id + '" style="left: ' + line_left + 'px; top: ' + line_top + 'px; width: 300px; height: 0px;"></div>')
        eazy_mde['easyMDE' + layer_id] = new EasyMDE({element: document.getElementById("leaf-body" + fk_user_id + fk_tree_id + layer_id + ""), maxHeight: "550px"});
      }
      const set_params = async function(){
        $("#posX" + layer_id).val(300);
        $("#posY" + layer_id).val(0);
        $("#parent" + layer_id).val(this_id);
      }
      const processAll = async function() {
        await ajax_new()
        await create_leaf()
        await set_params()
      }
      processAll()
      $('.tooltip').hide();
      $('.easy-hide').hide();
  });
  //左
  $(document).on('click','#left-branch', function(evt){
      p1 = $(evt.target).closest(".leaf").position();
      var parent_elem = (evt.target).closest(".leaf");
      var parent_id = $(parent_elem).attr('id');
      console.log("parent_id" + parent_id);
      var parent_all_pos = $('#' + parent_id).position();
      var parent_posX = parent_all_pos.left;
      var parent_posY = parent_all_pos.top;
      layer_id++;
      pX1 = parent_posX - 300;
      pY1 = parent_posY;
      var line_left = parent_posX - 300;
      var line_top = parent_posY + 70;
      var setX = -300;
      var setY = 0;
      const ajax_new = async function(){
        $.ajax({url: "layers", type: "POST", data: {layer_id: layer_id, positionX: setX, positionY: setY, parent_id: this_id, user_id: fk_user_id, tree_id: fk_tree_id}});
      }
      const create_leaf = async function(){
        $(event.target).closest(".leaf").after('<div class="leaf left-down" id="' + layer_id + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;">' + layer_id + '<input type="hidden" name="_method" value="patch" /><input type="hidden" id="db_id' + layer_id + '" name="db_id" value="' + gon.db_id + '"><input type="hidden" id="layer_id" name="layer_id" value="' + layer_id + '"><input type="hidden" id="user_id" name="user_id" value="' + fk_user_id + '"><input class="title" type="text" name="title"></br><button id="left-branch">+</button><button id="left-down-branch">+</button><button id="right-down-branch">+</button><button id="right-branch">+</button><div class="tooltip" id="tooltip-id' + layer_id + '"><button class="close-window">×</button><input type="text" class="parent not" name="parent_id" id="parent' + layer_id + '"><input type="text" class="not" name="positionX" id="posX' + layer_id + '"><input type="text" class="not" name="positionY" id="posY' + layer_id + '"></br><div id="easy-hide' + layer_id + '"><textarea name="body" class="leaf-body" id="leaf-body' + fk_user_id + fk_tree_id + layer_id + '"></textarea></div></br><input type="submit" value="save" class="save"></div></form></div><div class="line-box left-down-line" id="line' + layer_id + '" style="left: ' + line_left + 'px; top: ' + line_top + 'px; width: 300px; height: 0px;"></div>')
        eazy_mde['easyMDE' + layer_id] = new EasyMDE({element: document.getElementById("leaf-body" + fk_user_id + fk_tree_id + layer_id + ""), maxHeight: "550px"});
      }
      const set_params = async function(){
        $("#posX" + layer_id).val(-300);
        $("#posY" + layer_id).val(0);
        $("#parent" + layer_id).val(this_id);
      }
      const processAll = async function() {
        await ajax_new()
        await create_leaf()
        await set_params()
      }
      processAll()
      $('.tooltip').hide();
      $('.easy-hide').hide();
      
  });
  //マウスポインターの現在地表示
  $(window).mousemove(function(e) {
    $(".client").text("client : X" + e.clientX + " : Y" + e.clientY);
  });
  //ツリーをドラッグで移動
  $(function() {
    //ドラッグフラグ
    var drag_flg = false;
    //マウスダウンの位置
    var pos1;
    var pos2;
    //要素位置の修正値
    var posX1;
    var posY1;

    var p3;
    var pX3;
    var pY3;
    var mc = 0;
    //要素内でマウスボタンが押された場合
    $(".tree-wrapper").mousedown(function(evt1) {

      if(mc == 0){
        p3 = $(".leaf").position();
        pX3 = p3.left;
        pY3 = p3.top;
        tree_pos = $(".tree_title").position();
        title_posX = tree_pos.left;
        title_posY = tree_pos.top;
        $("#posX").val(pX3);
        $("#posY").val(pY3);
        mc++;
      }
        //ドラッグ判定（ドラッグしてない場合）
          if(drag_flg == false) {

              //要素の位置取得
              pos1 = $(".tree-wrapper").position();
              //要素位置を取得して修正値を計算
              posX1 = evt1.clientX - pos1.left;
              posY1 = evt1.clientY - pos1.top;
    
              //ドラッグ中にする
              drag_flg = true;
              //要素のテキストを変更
    
          //ドラッグ中の場合
          } else if(drag_flg == true) {
    
              //要素のドラッグを解除
              drag_flg = false;
              //要素のテキストを変更
              
          }
    });
 
    //要素上でマウスボタンが離された場合
    $(document).mouseup(function() {
        //要素のドラッグを解除
        drag_flg = false;
        //要素のテキストを変更
        
    });

    //ドキュメント上でマウスポインタが動いた場合
    $(document).mousemove(function(evt2) {
        //ドラッグ中の場合
        if(drag_flg == true) {
            //要素位置をCSSで設定
            $(".tree-wrapper").css("left",(evt2.clientX - posX1));
            $(".tree-wrapper").css("top",(evt2.clientY - posY1));
            $("#posX1").val(pX3 + evt2.clientX - posX1);
            $("#posY1").val(pY3 + evt2.clientY - posY1);
            tree_pos = $(".tree_title").position();
            title_posX = tree_pos.left;
            title_posY = tree_pos.top;
        }
    });
  });

  //クリックしたボックスのbodyを出現
  $(document).on('click','.leaf', function(evt){    
      $('this_id .tooltip').show();
      $(this).find('.tooltip').fadeIn('fast');
  });
  //クリックしたボックスのbodyを隠す
  $(document).on('click','.close-window', function(evt){ 
      $('this_id .tooltip').hide();
      $(this).parent('.tooltip').fadeOut('fast');
      $('.tooltip').css({'position':'absolute','left':'','top':'','width':'','height':''});
      evt.stopPropagation()
  });
  //吹き出しをマウスオーバーで拡大表示
  $(document).ready(function(){
    $(document).on({
      'mouseenter' : function() {
        jQuery(":hover").each(function () { 
          var tooltip_id = $(event.target).attr("id");
          easy_hide_id = $(event.target).find(".leaf").attr("id");
          if(tooltip_id?.match(/tooltip/)){ 
            var tooltip_size = document.getElementById(tooltip_id);    
            tooltip_size.style.width = "1280px";
            $('#easy-hide' + this_id).show();
            console.log('#easy-hide' + this_id)
            $(document).on('click','.tooltip', function(){
              //document.getElementsByClassName(".tooltip").style.zIndex = 1;
              $('.tooltip').css({'z-index':'1'});
              z_index_cnt += 1;
              tooltip_size.style.zIndex = z_index_cnt;
            });
          }
        })
      },
      //吹き出しをマウスオフで縮小表示
      'mouseleave' : function(){
        jQuery(":hover").each(function () { 
          var tooltip_id = $(event.target).attr("id");
          if(tooltip_id?.match(/tooltip/)){ 
            var tooltip_size = document.getElementById(tooltip_id);
            tooltip_size.style.width = "";
            tooltip_size.style.zIndex = 1;
            $('#easy-hide' + this_id).hide();
          }
        })
      }
    }, '.leaf')
  });
</script>
