<body>
<!--<%= form_with model: @layer1 do |f| %>
  <%= f.text_field name: "positionX", id: "posX" %></br>
  <%= f.text_field name: "positionY", id: "posY" %>
  <%= f.submit class: "btn btn-primary", id: "pos_reset" %>
<% end %>-->
</body>

<script>
  //グローバル変数
  //$('.tooltip').hide();
  var p1;
  var p2;
  var pX1;
  var pY1;
  var pX2;
  var pY2;
  var tree_pos;
  var title_posX;
  var title_posY;
  let before_parent_posX;
  let before_parent_posY;
  var i = 1;
  var q = 0;
  var l = 0;
  var this_id = "";
  var box_count = 0;
  //タイトルboxをbodyに追加
  $(document).ready(function(){
    $.each(gon.layers, function(index, elem){
      if(elem.id == 1){
          title_posX = elem.positionX;
          title_posY = elem.positionY;
          before_parent_posX = title_posX;
          before_parent_posY = title_posY;
          $('body').append('<div class="tree-wrapper"><div class="leaf tree_title" style="left: ' + elem.positionX + 'px; top: ' + elem.positionY + 'px;" id="1">treetop<form action="http://localhost:3000/layers/' + 1 + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="text" name="title" value="' + elem.title + '"></br><button id="left-branch">left</button><button id="left-down-branch">leftdown</button><button id="right-down-branch">rightdown</button><button id="right-branch">right</button><div class="tooltip" id="tooltip-id' + i + '"><button id="close-window">×</button><input type="text" name="positionX" id="posX1" value="' + elem.positionX + '"><input type="text" name="positionY" id="posY1" value="' + elem.positionY + '"></br><textarea name="body" class="leaf-body">' + elem.body + '</textarea></br><input type="submit" value="save"></div></form></div></div>')
          $('.tooltip').hide();
      }else if(elem.id !== 1){
        i = elem.id;
        console.log(title_posX + elem.positionX);
        //parent_elem = document.getElementById(elem.parent_id); 
        var parent_posX = $('#posX' + elem.parent_id).val();
        var parent_posY = $('#posY' + elem.parent_id).val();
        var parent_all_pos = $('#' + elem.parent_id).position();
        /*if(elem.parent_id == 1){
          before_parent_posX = Number(title_posX);
          before_parent_posY = Number(title_posY);
          console.log("lineX" + before_parent_posX)
        }else if(elem.parent_id !== 1){
          before_parent_posX = Number(before_parent_posX) + Number(parent_posX);
          before_parent_posY = Number(before_parent_posY) + Number(parent_posY);
          console.log("2lineX" + before_parent_posX)
        }*/
        before_parent_posX = Number(parent_all_pos.left);
        before_parent_posY = Number(parent_all_pos.top);
        var leaf_posX = Number(before_parent_posX) + Number(elem.positionX);
        var leaf_posY = Number(before_parent_posY) + Number(elem.positionY);
        var svg_width = Math.abs(leaf_posX - before_parent_posX);
        var svg_height = Math.abs(leaf_posY - before_parent_posY);
        console.log("parent_posX" + parent_posX); 
        $('.tree_title').after('<div class="leaf" style="left: ' + leaf_posX + 'px; top: ' + leaf_posY + 'px;" id="' + i + '">' + elem.id + '</br><button id="del">del</button><form action="http://localhost:3000/layers/' + i + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="text" name="title" value="' + elem.title + '"></br><button id="left-branch">left</button><button id="left-down-branch">leftdown</button><button id="right-down-branch">rightdown</button><button id="right-branch">right</button><div class="tooltip" id="tooltip-id' + i + '"><button id="close-window">×</button><input type="text" class="parent" name="parent_id" id="parent' + i + '" value="' + elem.parent_id + '"><input type="text" name="positionX" id="posX' + i + '" value="' + elem.positionX + '"><input type="text" name="positionY" id="posY' + i + '" value="' + elem.positionY + '"></br><textarea name="body" class="leaf-body">' + elem.body + '</textarea></br><input type="submit" value="save"></div></form></div><div class="line-box" id="line' + i + '" style="left: ' + before_parent_posX + 'px; top: ' + before_parent_posY + 'px;"></div>')
        var line_id = "line" + i 
        var line_pos = document.getElementById(line_id);   
        console.log("line_pos" + line_id); 
        if(Math.sign(leaf_posX - before_parent_posX) !== -1){
          line_pos.style.left = before_parent_posX + 105 + "px";
          line_pos.style.top = before_parent_posY + 70 + "px";
          $("#" + line_id).addClass("right-down-line");
        }else if(Math.sign(leaf_posX - before_parent_posX) == -1){
          line_pos.style.left = before_parent_posX + 105 - svg_width +  "px";
          line_pos.style.top = before_parent_posY + 70 + "px";
          $("#" + line_id).addClass("left-down-line");
        }
        line_pos.style.width = svg_width + "px";
        line_pos.style.height = svg_height + "px";
        $('.tooltip').hide();
        //$('').after('<svg style="left: ' + leaf_posX + 'px; top: ' + leaf_posY + 'px;" width="' + svg_width + 'px" height="' + svg_height + 'px" viewBox="' + svg_posX + ' ' + svg_posY + ' ' + svg_width + ' ' + svg_height + '"><line x1="' + svg_posX + '" y1="' + svg_posY + '" x2="' + leaf_posX + '" y2="' + leaf_posY + '" stroke="black" stroke-width="5"/></svg>');
        //before_parent_posX = Number(parent_posX);
        //before_parent_posY = Number(parent_posY);
      }
    })
  });

  /*$(document).on('click','#create_btn', function(evt){
    box_count = 1;
  });*/

  /*$(document).on('click','#pos_reset', function(evt){
    $("#posX").val(500);
    $("#posY").val(30);
  });*/

  //クリックした要素のid、座表を取得 

  $(document).on('click', '.leaf', function(evt) {
    this_id = $(this).attr('id');
    console.log("this_id" + this_id);
    evt.stopPropagation();
  });
  //マウスオーバーでid取得
  /*$(function(){
    $(document).on({
      'mouseenter' : function() {
        jQuery(":hover").each(function () { 
        this_id = $(this).attr('id');
        console.log(this_id);
        })
      }
    }, '.leaf');
  })  */
  //右下にボックスを作成
  $(document).on('click','#right-down-branch', function(evt){
      p1 = $(evt.target).closest(".leaf").position();
      var parent_elem = (evt.target).closest(".leaf");
      var parent_id = $(parent_elem).attr('id');
      console.log("parent_id" + parent_id);
      var parent_all_pos = $('#' + parent_id).position();
      var parent_posX = parent_all_pos.left;
      var parent_posY = parent_all_pos.top;
      console.log(p1);
      i++;
      console.log("id" + i);
      pX1 = parent_posX + 150;
      pY1 = parent_posY + 200;
      var setX = 150;
      var setY = 200;
      $.ajax({url: "layers/new", type: "GET", data: {id: i, setX: setX, setY: setY}});
      
      $(event.target).closest(".leaf").after('<div class="leaf right-down" id="' + i + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;"><button id="del">del</button><form action="http://localhost:3000/layers/' + i + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="text" name="title"></br><button id="left-branch">left</button><button id="left-down-branch">leftdown</button><button id="right-down-branch">rightdown</button><button id="right-branch">right</button><div class="tooltip"><input type="text" name="parent_id" id="parent' + i + '"><input type="text" name="branch" value="right_down"><input type="text" name="positionX" id="posX' + i + '"></br><input type="text" name="positionY" id="posY' + i + '"></br><textarea name="body"></textarea></br><button id="close-window">×</button><input type="submit" value="save"></div></form></div></div>')
      setTimeout(function(){
        $("#posX" + i).val(150);
        $("#posY" + i).val(200);
        $("#parent" + i).val(this_id);
      }, 1);
  });
  $(document).on('click','#left-down-branch', function(evt){
      p1 = $(evt.target).closest(".leaf").position();
      var parent_elem = (evt.target).closest(".leaf");
      var parent_id = $(parent_elem).attr('id');
      console.log("parent_id" + parent_id);
      var parent_all_pos = $('#' + parent_id).position();
      var parent_posX = parent_all_pos.left;
      var parent_posY = parent_all_pos.top;
      console.log(p1);
      i++;
      console.log("id" + i);
      pX1 = parent_posX - 150;
      pY1 = parent_posY + 200;
      var setX = -150;
      var setY = 200;
      $.ajax({url: "layers/new", type: "GET", data: {id: i, setX: setX, setY: setY}});
      
      $(event.target).closest(".leaf").after('<div class="leaf left-down" id="' + i + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;"><button id="del">del</button><form action="http://localhost:3000/layers/' + i + '" method="post"><input type="hidden" name="_method" value="patch" /><input type="text" name="title"></br><button id="left-branch">left</button><button id="left-down-branch">leftdown</button><button id="right-down-branch">rightdown</button><button id="right-branch">right</button><div class="tooltip"><input type="text" name="parent_id" id="parent' + i + '"><input type="text" name="branch" value="left_down"><input type="text" name="positionX" id="posX' + i + '"></br><input type="text" name="positionY" id="posY' + i + '"></br><textarea name="body"></textarea></br><button id="close-window">×</button><input type="submit" value="save"></div></form></div></div>')
      setTimeout(function(){
        $("#posX" + i).val(-150);
        $("#posY" + i).val(200);
        $("#parent" + i).val(this_id);
      }, 1);
  });
  //左下にボックスを作成
  /*$(document).on('click','#left-down-branch', function(evt){
      p1 = $(evt.target.parentNode).position();
      i++;
      pX1 = p1.left - 150;
      pY1 = p1.top + 100;
     $(event.target.parentNode).after('<div class="leaf" id="' + i + '" style="left: ' + pX1 + 'px; top: ' + pY1 + 'px;"><button id="del">del</button><input type="text" name="content"></br><button id="left-branch">left</button><button id="left-down-branch">leftdown</button><button id="right-down-branch">rightdown</button><button id="right-branch">right</button><div class="tooltip"><textarea></textarea><p>テキストボックスのツールチップ</p></div>')
  });*/
  //ボックスを削除
  $(document).on('click','#del', function(evt){
    $(event.target.parentNode).remove();
    var del_id = $(event.target.parentNode).attr('id');
    $.ajax({url: "layers/" + del_id + "", type: "POST", data: {"id":del_id,"_method": "DELETE"} });
  });
  //ツリーをドラッグで移動
  $(function() {
    //ドラッグフラグ
    var drag_flg = false;
    //マウスダウンの位置
    var pos1;
    var pos2;
    //要素位置の修正値
    var posX1;
    var posY1;

    var p3;
    var pX3;
    var pY3;
    var mc = 0;
    //要素内でマウスボタンが押された場合
    $(".tree-wrapper").mousedown(function(evt1) {

      if(mc == 0){
        p3 = $(".leaf").position();
        pX3 = p3.left;
        pY3 = p3.top;
        tree_pos = $(".tree_title").position();
        title_posX = tree_pos.left;
        title_posY = tree_pos.top;
        $("#posX").val(pX3);
        $("#posY").val(pY3);
        mc++;
      }
        //ドラッグ判定（ドラッグしてない場合）
          if(drag_flg == false) {

              //要素の位置取得
              pos1 = $(".tree-wrapper").position();
              //要素位置を取得して修正値を計算
              posX1 = evt1.clientX - pos1.left;
              posY1 = evt1.clientY - pos1.top;
    
              //ドラッグ中にする
              drag_flg = true;
              //要素のテキストを変更
    
          //ドラッグ中の場合
          } else if(drag_flg == true) {
    
              //要素のドラッグを解除
              drag_flg = false;
              //要素のテキストを変更
              
          }
    });
 
    //要素上でマウスボタンが離された場合
    $(document).mouseup(function() {
        //要素のドラッグを解除
        drag_flg = false;
        //要素のテキストを変更
        
    });

    //ドキュメント上でマウスポインタが動いた場合
    $(document).mousemove(function(evt2) {
        //ドラッグ中の場合
        if(drag_flg == true) {
            //要素位置をCSSで設定
            $(".tree-wrapper").css("left",(evt2.clientX - posX1));
            $(".tree-wrapper").css("top",(evt2.clientY - posY1));
            $("#posX1").val(pX3 + evt2.clientX - posX1);
            $("#posY1").val(pY3 + evt2.clientY - posY1);
            tree_pos = $(".tree_title").position();
            title_posX = tree_pos.left;
            title_posY = tree_pos.top;
        }
    });
  });

  //クリックしたボックスのbodyを出現
  $(document).on('click','.leaf', function(evt){    
      $('this_id .tooltip').show();
      $(this).find('.tooltip').fadeIn('fast');
  });
  //クリックしたボックスのbodyを隠す
  $(document).on('click','#close-window', function(evt){ 
      $('this_id .tooltip').hide();
      $(this).parent('.tooltip').fadeOut('fast');
      evt.stopPropagation()
  });
  //吹き出しをマウスオーバーで拡大表示
  $(document).ready(function(){
    $(document).on({
      'mouseenter' : function() {
        jQuery(":hover").each(function () { 
          var tooltip_id = $(event.target).attr("id");
          if(tooltip_id?.match(/tooltip/)){ 
            var tooltip_size = document.getElementById(tooltip_id);    
            tooltip_size.style.width = "1280px";
            tooltip_size.style.height = "720px";
          }
        })
      },
      'mouseleave' : function(){
        jQuery(":hover").each(function () { 
          var tooltip_id = $(event.target).attr("id");
          if(tooltip_id?.match(/tooltip/)){ 
            var tooltip_size = document.getElementById(tooltip_id);
            tooltip_size.style.width = "";
            tooltip_size.style.height = "";
          }
        })
      }
    }, '.leaf')
  });
</script>
