// Place all the styles related to the aims controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin-left: 0px;
  margin-top: 0px;
}
.leaf{
  background-color:#39C;
  color: #FFF;
  text-align: center;
  padding: 30px;
  position: absolute;
  cursor: default;
  border-radius: 10px;
  width: 150px;
}
.tree-wrapper{
  text-align: center;
  padding: 30px;
  position: absolute;
  cursor: default;
  border-radius: 10px;
  
}