/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin-left: 0px;
  margin-top: 0px;
  font-family: 'Noto Sans JP', sans-serif, 'Alegreya Sans SC', sans-serif;
}
div{
  font-size: 2vh;
}
.center{
  text-align:center
}
h1{
  font-size: 7vh;
}

.card{
  border: solid 0.5vh;
  border-radius: 1.5vh;
  color: gray;
  display: inline-block;
  text-decoration: none;
}
.link-text{
  color: gray;
  display: inline-block;
  text-decoration: none;
}
.float-right{
  float: right;
  margin-right: 5vh;
}
.float-left{
  float: left;
  margin-left: 5vh;
}
.search{
  height: 3vh;
  width: 20vh;
  font-size: 2.5vh;
}
.font{
  font-size: 2vh;
  font-family: 'Alegreya Sans SC', sans-serif, 'Noto Sans JP', sans-serif;
}
.font-noto{
  font-size: 2vh;
  font-family: 'Noto Sans JP', sans-serif, 'Alegreya Sans SC', sans-serif;
}
.caption{
  font-size: 5vh;
}
.title-text{
  font-size: 3vh;
}
::placeholder{
  font-family: 'Alegreya Sans SC', sans-serif, 'Noto Sans JP', sans-serif;
}
.bgimage{
  z-index: -1;
  position: absolute;
}
#log{
  float: right;
  font-size: 2vh;
  position: fixed;
  left: 90%;
}
#top{
  float: right;
  font-size: 2vh;
  position: fixed;
  left: 82%;
}
#all-trees{
  float: right;
  font-size: 2vh;
  position: fixed;
  left: 72%;
}
#user_name{
  position: fixed;
  float: right;
  left: 62%;
}
#author{
  position: fixed;
  float: right;
  left: 52%;
}
#body-search{
  position: fixed;
  float: right;
  left: 32%;
}