// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//h1 tag animation
.circle {
  margin: 0 auto;
  width: 70vh;  /* 円の直径となるため、文字数により調整 */
  height: 70vh;  /* 円の直径となるため、widthと同じ値に */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-60px);  /* 元々平面では直径200pxの円を90度倒した分、上下に余白が発生。余白を詰める */
}

.inner {
  transform-style: preserve-3d;  /* 子要素を3D空間に */
  transform: rotateX(-90.1deg) rotateZ(120deg);  /* 調整 */
}

.text {
  margin: 0;
  transform-style: preserve-3d;  /* 子要素を3D空間に */
  animation: rotateAnim linear infinite;
  animation-duration: 7s;  /* animationプロパティで一括指定していない */
}

@keyframes rotateAnim {  /* 回転方向に注意、0%と100%を同じ引数にすると、途中で逆再生になる */
  0% { transform: rotate(360deg); }
  50%{ transform: rotate(180deg); }
  100% { transform: rotate(0deg); }
}

.move {
  font-size: 7vh;
  position: absolute;
  inset: 0;  /* top, right, bottom, leftを一括指定 */
  font-weight: 700;
  opacity: 0;  /* 最初に表示される時に全て見えてしまうため */
  animation: opacityAnim 7s linear infinite;  /* アニメーション時間はテキストの回転アニメーション時間と合わせる */
}

@keyframes opacityAnim {
  0%, 50%, 100% { opacity: 0.2; }  // 文字が両端に来た時 
  25% { opacity: 1; }  // 文字が一番手前（正面）に来た時 
  75%{ opacity: 0; }// 文字が裏面に来た時 
}
div.particle{
  animation: particle 20s linear 0s infinite normal ;
  z-index: 3;
  position: absolute;
  top: 0px;
}

@keyframes particle {
  0%{
    transform: translateY(0px);
    opacity: 0;
  }
  5%{
    opacity: 0.2;
  }
  95%{
    opacity: 0.2;
  }
  100%{
    transform: translateY(90vh);
    opacity: 0;
  }
}
/*.text-blur {
  //color: transparent;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}*/