// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#log{
  float: right;
  font-size: 2vh;
  margin-right: 30px;
  position: fixed;
  left: 90%;
}
#top{
  float: right;
  font-size: 2vh;
  margin-right: 30px;
  position: fixed;
  left: 80%;
}

.header-div{
  display: block;
  margin: 20px;
}
input.text{
  height: 5vh;
  font-size: 4vh;
}